* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

body {
  background: #1d1d1d;
}

.W_container {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  font-family: ArTarumianMHarvats;
  background: #1d1d1d;
  overflow-y: hidden;
}
header .W_container .flex_container {
  display: flex;
  justify-content: space-between;
}
header .W_container .logo {
  flex-grow: 1;
}
header .W_container .logo img {
  height: 180px;
  z-index: 1;
  margin-top: 100px;
}
header .W_container .text__first {
  margin-top: 30px;
  flex-grow: 2;
  text-align: end;
}
header .W_container .text__first .tire {
  color: #ffd101;
  text-transform: uppercase;
  font-size: 118px;
}
header .W_container .text__first .service__profesional {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
header .W_container .text__first .service__profesional .service {
  text-transform: uppercase;
  font-size: 60px;
}
header .W_container .text__first .service__profesional .profesional {
  align-self: flex-end;
  font-size: 90px;
}
header .center {
  text-transform: uppercase;
  color: #ffd101;
  font-size: 120px;
  margin-top: 24px;
  margin-bottom: 35px;
}
header::before {
  content: "";
  height: 250px;
  width: 150%;
  background: #ffd101;
  position: absolute;
  top: 150px;
  left: -100px;
  z-index: 0;
  transform: rotate(8deg);
}
header .tire_header {
  position: absolute;
  top: 250px;
  left: 0;
  opacity: 0.6;
}

.services {
  background-image: url(../img/hands.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services .W_container .services_header .header_text {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 60px 0 0 0;
  letter-spacing: 1.5px;
  font-family: ArTarumianMHarvats;
  color: #ffd101;
}
.services .W_container .services__flex_wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services .W_container .services__flex_wrapper .services__flex_inner {
  width: 33%;
  margin-bottom: 10px;
}
.services .W_container .services__flex_wrapper .services__flex_inner a {
  text-decoration: none;
}
.services .W_container .services__flex_wrapper .services__flex_inner a .services__flex_item {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.services .W_container .services__flex_wrapper .services__flex_inner a .services__flex_item img {
  margin: 0 auto;
  height: 150px;
  position: relative;
  border: solid #ffd101 6px;
  border-radius: 100%;
  background: #ffd101;
  transition: 0.4s all ease;
}
.services .W_container .services__flex_wrapper .services__flex_inner a .services__flex_item span {
  font-family: ArTarumianKamar;
  padding: 15px 0;
  text-align: center;
  color: #ffd101;
}
.services .W_container .services__flex_wrapper .services__flex_inner a .services__flex_item:hover img {
  border-radius: 8%;
  transform: rotate(360deg);
}
.services .W_container .services__flex_wrapper .services__flex_inner a .services__flex_item:hover span {
  text-shadow: 3px 3px 5px black;
}

footer .W_container .footer_inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
footer .W_container .footer_inner .footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .W_container .footer_inner .footer__contacts .footer__contacts_header {
  font-size: 20px;
  color: #ffd101;
  font-family: ArTarumianMHarvats;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
footer .W_container .footer_inner .footer__contacts .footer__contacts_header:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #ffd101;
  position: absolute;
  bottom: 0px;
  left: 0;
}
footer .W_container .footer_inner .footer__contacts .footer__contacts_phones {
  width: 100%;
  display: flex;
}
footer .W_container .footer_inner .footer__contacts .footer__contacts_phones .footer__contacts_phone1 a,
footer .W_container .footer_inner .footer__contacts .footer__contacts_phones .footer__contacts_phone2 a {
  color: #ffd101;
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  padding: 0 10px;
  position: relative;
}
footer .W_container .footer_inner .footer__contacts .footer__contacts_phones .footer__contacts_phone1 a:after,
footer .W_container .footer_inner .footer__contacts .footer__contacts_phones .footer__contacts_phone2 a:after {
  content: "";
  height: 1px;
  width: 1%;
  background: #ffd101;
  position: absolute;
  bottom: 15px;
  left: 15px;
  opacity: 0;
  transition: 0.4s all ease;
}
footer .W_container .footer_inner .footer__contacts .footer__contacts_phones .footer__contacts_phone1 a i,
footer .W_container .footer_inner .footer__contacts .footer__contacts_phones .footer__contacts_phone2 a i {
  padding: 20px 10px;
  font-size: 30px;
}
footer .W_container .footer_inner .footer__contacts .footer__contacts_phones .footer__contacts_phone1 a:hover:after,
footer .W_container .footer_inner .footer__contacts .footer__contacts_phones .footer__contacts_phone2 a:hover:after {
  position: absolute;
  bottom: 15px;
  left: 15px;
  opacity: 1;
  width: 90%;
}
footer .W_container .footer_inner .footer__contacts .footer__socials {
  display: flex;
  justify-content: center;
}
footer .W_container .footer_inner .footer__contacts .footer__socials a {
  font-size: 30px;
  margin: 0 15px;
  text-decoration: none;
  transition: 0.4s all ease;
}
footer .W_container .footer_inner .footer__contacts .footer__socials a:hover {
  color: #ffd101;
}
footer .W_container .footer_inner .footer__contacts .footer__socials .facebook {
  color: #4267b2;
}
footer .W_container .footer_inner .footer__contacts .footer__socials .instagram {
  color: #8a3ab9;
}
footer .W_container .footer_inner .footer__contacts .footer__socials .whatsapp {
  color: #25d366;
}
footer .W_container .footer_inner .footer__map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .W_container .footer_inner .footer__map .footer__map_header {
  font-size: 20px;
  color: #ffd101;
  font-family: ArTarumianMHarvats;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 5px;
}
footer .W_container .footer_inner .footer__map .footer__map_header:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #ffd101;
  position: absolute;
  bottom: 0px;
  left: 0;
}
footer .W_container .footer_inner .footer__map .footer__map_map {
  border-radius: 7px;
  border: solid 3px #ffd101;
}
footer .W_container .footer_inner .footer__map .footer__map_map .mapouter {
  position: relative;
  text-align: right;
  height: 142px;
  width: 319px;
}
footer .W_container .footer_inner .footer__map .footer__map_map .mapouter .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 142px;
  width: 319px;
}
footer .sub__footer {
  display: flex;
  justify-content: center;
  background: #161616;
}
footer .sub__footer span {
  color: #303030;
  padding: 5px;
}

@media screen and (max-width: 888px) {
  header .W_container .logo img {
    height: 140px;
  }
  header .W_container .text__first .tire {
    font-size: 100px;
  }
  header .W_container .text__first .service__profesional .service {
    font-size: 45px;
  }
  header .W_container .text__first .service__profesional .profesional {
    font-size: 70px;
  }
  header .center {
    font-size: 80px;
    margin-bottom: 25px;
  }
  header::before {
    content: "";
    height: 170px;
  }
  header .tire_header {
    position: absolute;
    top: 200px;
    left: 0;
    opacity: 0.6;
  }
}
@media screen and (max-width: 688px) {
  header .W_container .logo img {
    height: 120px;
  }
  header .W_container .text__first .tire {
    font-size: 70px;
  }
  header .W_container .text__first .service__profesional .service {
    font-size: 35px;
  }
  header .W_container .text__first .service__profesional .profesional {
    font-size: 60px;
  }
  header .center {
    font-size: 60px;
    padding-bottom: 30px;
  }
  header::before {
    content: "";
    height: 170px;
    top: 110px;
    left: -100px;
  }
  header .tire_header {
    position: absolute;
    top: 200px;
    left: 0;
    opacity: 0.6;
  }

  .services .W_container .services_header .header_text {
    font-size: 25px;
    padding: 20px 0 0 0;
  }
}
@media screen and (max-width: 588px) {
  header .W_container .logo img {
    height: 115px;
  }
  header .W_container .text__first .tire {
    font-size: 50px;
  }
  header .W_container .text__first .service__profesional {
    margin-top: 25px;
  }
  header .W_container .text__first .service__profesional .service {
    font-size: 32px;
  }
  header .W_container .text__first .service__profesional .profesional {
    font-size: 40px;
  }
  header .center {
    margin-left: 30px;
    font-size: 45px;
    padding-bottom: 28px;
  }
  header::before {
    height: 170px;
    top: 80px;
  }
  header .tire_header {
    top: 160px;
  }

  .services .W_container .services_header .header_text {
    font-size: 25px;
    padding: 35px 0 0 0;
  }
  .services .W_container .services__flex_wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .services .W_container .services__flex_wrapper .services__flex_inner {
    width: 50%;
    margin-bottom: 10px;
  }

  footer .W_container .footer_inner {
    padding-bottom: 40px;
  }
  footer .W_container .footer_inner .footer__contacts .footer__contacts_phones {
    margin-bottom: 20px;
  }
  footer .W_container .footer_inner .footer__contacts .footer__socials {
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
  footer .W_container .footer_inner .footer__contacts .footer__socials::after {
    content: "";
    border: dotted 1.6px #ffd101;
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 448px) {
  header .W_container .logo img {
    margin-top: 80px;
  }
  header .W_container .text__first .service__profesional {
    margin-top: 25px;
  }
  header .W_container .text__first .service__profesional .service {
    font-size: 25px;
  }
  header .W_container .text__first .service__profesional .profesional {
    font-size: 33px;
  }
  header .center {
    margin-left: 20px;
    padding-bottom: 22px;
  }
  header::before {
    height: 150px;
    top: 80px;
  }
  header .tire_header {
    top: 160px;
  }

  .services .W_container .services_header .header_text {
    font-size: 25px;
    padding: 35px 0 0 0;
  }
  .services .W_container .services__flex_wrapper {
    margin-top: 30px;
  }
  .services .W_container .services__flex_wrapper .services__flex_inner {
    width: 100%;
    margin-bottom: 2px;
  }

  footer .W_container .footer_inner {
    padding-bottom: 40px;
  }
  footer .W_container .footer_inner .footer__contacts .footer__contacts_phones {
    margin-bottom: 20px;
  }
  footer .W_container .footer_inner .footer__contacts .footer__socials {
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
  footer .W_container .footer_inner .footer__contacts .footer__socials::after {
    content: "";
    border: dotted 1.6px #ffd101;
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 400px) {
  header .W_container .logo img {
    margin-top: 80px;
  }
  header .W_container .text__first .tire {
    font-size: 35px;
  }
  header .W_container .text__first .service__profesional {
    margin-top: 40px;
  }
  header .W_container .text__first .service__profesional .service {
    font-size: 30px;
  }
  header .W_container .text__first .service__profesional .profesional {
    font-size: 25px;
  }
  header .center {
    margin-left: 20px;
    padding-bottom: 35px;
    font-size: 35px;
  }
  header::before {
    height: 150px;
    top: 70px;
  }
  header .tire_header {
    top: 160px;
  }

  footer .W_container .footer_inner {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  footer .W_container .footer_inner .footer__contacts .footer__contacts_phones {
    flex-direction: column;
    margin-bottom: 20px;
  }
  footer .W_container .footer_inner .footer__contacts .footer__contacts_phones .footer__contacts_phone1 a,
footer .W_container .footer_inner .footer__contacts .footer__contacts_phones .footer__contacts_phone2 a {
    font-size: 15px;
  }
  footer .W_container .footer_inner .footer__contacts .footer__contacts_phones .footer__contacts_phone1 a i,
footer .W_container .footer_inner .footer__contacts .footer__contacts_phones .footer__contacts_phone2 a i {
    padding: 20px 10px;
    font-size: 30px;
  }
  footer .W_container .footer_inner .footer__contacts .footer__socials {
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
  footer .W_container .footer_inner .footer__contacts .footer__socials::after {
    content: "";
    border: dotted 1.6px #ffd101;
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}