$main_yellow: #ffd101;
$main_black: #1d1d1d;
$font_header: ArTarumianMHarvats;
$font_text: ArTarumianKamar;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}
body {
    background: $main_black;
}
.W_container {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    font-family: ArTarumianMHarvats;
    background: $main_black;
    overflow-y: hidden;

    .W_container {
        .flex_container {
            display: flex;
            justify-content: space-between;
        }
        .logo {
            flex-grow: 1;
            img {
                height: 180px;
                z-index: 1;
                margin-top: 100px;
            }
        }
        .text__first {
            margin-top: 30px;
            flex-grow: 2;
            text-align: end;
            .tire {
                color: $main_yellow;
                text-transform: uppercase;
                font-size: 118px;
            }
            .service__profesional {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: flex-start;
                .service {
                    text-transform: uppercase;
                    font-size: 60px;
                }
                .profesional {
                    align-self: flex-end;
                    font-size: 90px;
                }
            }
        }
    }
    .center {
        text-transform: uppercase;
        color: $main_yellow;
        font-size: 120px;
        margin-top: 24px;
        margin-bottom: 35px;
    }
    &::before {
        content: "";
        height: 250px;
        width: 150%;
        background: $main_yellow;
        position: absolute;
        top: 150px;
        left: -100px;
        z-index: 0;
        transform: rotate(8deg);
    }
    .tire_header {
        position: absolute;
        top: 250px;
        left: 0;
        opacity: 0.6;
    }
}

.services {
    background-image: url(../img/hands.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .W_container {
        .services_header {
            .header_text {
                display: flex;
                justify-content: center;
                font-size: 30px;
                padding: 60px 0 0 0;
                letter-spacing: 1.5px;
                font-family: $font_header;
                color: $main_yellow;
            }
        }
        .services__flex_wrapper {
            margin-top: 80px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .services__flex_inner {
                width: 33%;
                margin-bottom: 10px;
                a {
                    text-decoration: none;
                    .services__flex_item {
                        display: flex;
                        flex-direction: column;
                        padding: 20px;
                        img {
                            margin: 0 auto;
                            height: 150px;
                            position: relative;
                            border: solid $main_yellow 6px;
                            border-radius: 100%;
                            background: $main_yellow;
                            transition: 0.4s all ease;
                        }

                        span {
                            font-family: $font_text;
                            padding: 15px 0;
                            text-align: center;
                            color: $main_yellow;
                        }
                        &:hover {
                            img {
                                // border: 0px solid $main_yellow;
                                border-radius: 8%;
                                transform: rotate(360deg);
                            }
                            span {
                                text-shadow: 3px 3px 5px rgb(0, 0, 0);
                            }
                        }
                    }
                }
            }
        }
    }
}

///////////////////////////////////////////////// footer
footer {
    .W_container {
        .footer_inner {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-bottom: 30px;
            .footer__contacts {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .footer__contacts_header {
                    font-size: 20px;
                    color: $main_yellow;
                    font-family: $font_header;
                    margin-bottom: 20px;
                    padding-bottom: 5px;
                    &:after {
                        content: "";
                        height: 1px;
                        width: 100%;
                        background: $main_yellow;
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                    }
                }
                .footer__contacts_phones {
                    width: 100%;
                    display: flex;
                    .footer__contacts_phone1 a,
                    .footer__contacts_phone2 a {
                        color: $main_yellow;
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        text-decoration: none;
                        padding: 0 10px;
                        position: relative;

                        &:after {
                            content: "";
                            height: 1px;
                            width: 1%;
                            background: $main_yellow;
                            position: absolute;
                            bottom: 15px;
                            left: 15px;
                            opacity: 0;
                            transition: 0.4s all ease;
                        }
                        i {
                            padding: 20px 10px;
                            font-size: 30px;
                        }

                        &:hover {
                            &:after {
                                position: absolute;
                                bottom: 15px;
                                left: 15px;
                                opacity: 1;
                                width: 90%;
                            }
                        }
                    }
                }
                .footer__socials {
                    display: flex;
                    justify-content: center;

                    a {
                        font-size: 30px;
                        margin: 0 15px;
                        text-decoration: none;
                        transition: 0.4s all ease;
                        &:hover {
                            color: $main_yellow;
                        }
                    }
                    .facebook {
                        color: #4267b2;
                    }
                    .instagram {
                        color: #8a3ab9;
                    }
                    .whatsapp {
                        color: #25d366;
                    }
                }
            }
            .footer__map {
                display: flex;
                flex-direction: column;
                align-items: center;
                .footer__map_header {
                    font-size: 20px;
                    color: $main_yellow;
                    font-family: $font_header;
                    margin-bottom: 20px;
                    position: relative;
                    padding-bottom: 5px;
                    &:after {
                        content: "";
                        height: 1px;
                        width: 100%;
                        background: $main_yellow;
                        position: absolute;
                        bottom: 0px;
                        left: 0;
                    }
                }
                .footer__map_map {
                    border-radius: 7px;
                    border: solid 3px $main_yellow;
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 142px;
                        width: 319px;
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 142px;
                            width: 319px;
                        }
                    }
                }
            }
        }
    }
    .sub__footer {
        display: flex;
        justify-content: center;
        background: rgb(22, 22, 22);
        span {
            color: #303030;
            padding: 5px;
        }
    }
}
@import "mediaScreen/mediaScreen888.scss";
@import "mediaScreen/mediaScreen688.scss";
@import "mediaScreen/mediaScreen588.scss";
@import "mediaScreen/mediaScreen448.scss";
@import "mediaScreen/mediaScreen400.scss";
