@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

$main_yellow: #ffd101;
$main_black: #1d1d1d;
$font_header: ArTarumianMHarvats;
$font_text: ArTarumianKamar;
$font_digital: Digital-7 Mono;
* {
}
body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    .services {
        background-image: none;
        flex-basis: 90%;
        display: flex;
        .W_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            .manometr {
                margin-top: 30px;
                border-radius: 8px;
                border: solid 1px rgb(109, 109, 109);
                height: 500px;
                width: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(23, 23, 23);
                background: linear-gradient(
                    11deg,
                    rgba(23, 23, 23, 1) 0%,
                    rgba(62, 62, 62, 1) 60%,
                    rgba(92, 105, 108, 1) 100%
                );

                .manometr_inner {
                    background: url(../img/bg2.jpg);
                    height: 98%;
                    width: 95%;
                    border-radius: 8px;
                    border: solid 2px rgb(59, 59, 59);

                    .manometr_header {
                        margin-top: 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 5px 20px;
                        overflow: hidden;
                        border-bottom: 1px solid $main_black;
                        border-radius: 25px;

                        .logo {
                            transform: rotate(0deg);

                            img {
                                height: 50px;
                            }
                        }
                        .model {
                            font-family: "Anton", sans-serif;
                            font-weight: 500;
                            font-size: 12px;
                            color: $main_black;
                        }
                    }
                    .monometr_monitor {
                        margin: 5px;
                        border-radius: 8px;
                        border: 2px solid rgb(82, 78, 74);

                        .monitor_darkMode {
                            background: rgb(34, 41, 39) !important;
                            background: linear-gradient(
                                11deg,
                                rgba(34, 41, 39, 1) 0%,
                                rgba(31, 56, 52, 1) 60%,
                                rgba(15, 93, 111, 1) 100%
                            ) !important;
                        }
                        .monometr_monitor_inner {
                            height: 99px;
                            background: rgb(122, 152, 142);
                            background: linear-gradient(
                                11deg,
                                rgba(122, 152, 142, 1) 0%,
                                rgba(135, 174, 169, 1) 60%,
                                rgba(97, 116, 120, 1) 100%
                            );
                            transition: 600ms ease all;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            padding: 5px;

                            .headre__sup {
                                display: flex;
                                justify-content: space-between;

                                .battery {
                                    overflow: hidden;
                                    transition: 600ms ease all;
                                    .fa-battery-quarter {
                                        overflow: hidden;
                                    }
                                }
                                .them {
                                    padding: 0 2px;

                                    .fa-lightbulb {
                                        color: $main_black;
                                        overflow: hidden;
                                    }
                                }
                            }
                            .main_nums {
                                overflow: hidden;
                                font-family: $font_digital;
                                font-size: 50px;
                                color: $main_black;
                                margin: 0 auto;
                            }
                            .props {
                                display: flex;
                                justify-content: space-around;
                                overflow: hidden;
                            }
                            .prop {
                                overflow: hidden;
                            }
                        }
                    }
                    .monometr_monitor__buttons {
                        .monometr_monitor_options {
                            display: flex;
                            justify-content: space-around;
                            margin: 20px 0 10px 0;
                            padding: 5px 0;
                            .btn {
                                color: rgb(218, 216, 216);
                                background: url(../img/btn_back.jpg);
                                height: 30px;
                                width: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 5px;
                                box-shadow: 2px -2px 1px rgb(43, 43, 43);
                                border-top: solid 1px #1d1d1d;
                                border-right: solid 1px #1d1d1d;
                                cursor: pointer;

                                .fa-cogs,
                                .fa-lightbulb,
                                .fa-undo-alt {
                                    overflow: hidden;
                                }
                                &:active {
                                    box-shadow: none;
                                    border: none;
                                }
                            }
                        }
                        .start_btn {
                            margin: 30px 0;
                            padding: 10px 0;
                            display: flex;
                            justify-content: center;
                            font-size: 60px;
                            i {
                                background: url(../img/btn_back.jpg);
                                padding: 17px;
                                color: rgb(218, 216, 216);
                                border-radius: 100%;
                                box-shadow: 2px -2px 1px rgb(43, 43, 43);
                                border-top: solid 1px #1d1d1d;
                                border-right: solid 1px #1d1d1d;
                                cursor: pointer;
                                &:active {
                                    box-shadow: none;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .light {
        color: #ffd101 !important;
    }
    .opacity {
        opacity: 0;
    }
    .d-none {
        opacity: 0;
    }
    footer {
        flex-basis: 1;
    }
}
