$main_yellow: #ffd101;
$main_black: #1d1d1d;
$font_header: ArTarumianMHarvats;
$font_text: ArTarumianKamar;

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0 auto;
}

.services {
    background-image: none;
    font-family: $font_text;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        background: black;
        opacity: 0.8;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;
        transition: all ease 1s;
    }
    .W_container {
        .d_none {
            display: none;
            z-index: 1;
        }
        .manometr_inner {
            background-image: url(../img/manometr.png);
            height: 100vh;
            width: 160%;
            left: 50%;
            transform: translate(-50%, 0%);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: relative;
            .manometr_arrow {
                position: absolute;
                top: 27%;
                left: 50%;
                transform: translate(-63%, 0);
                z-index: 3;

                img {
                    height: 67px;
                }
            }
            .manometr_arrow_animation {
                animation: hinge;
                animation-duration: 3s;
                display: inline-block;
                margin: 0 0.5rem;

                top: 24%;
                left: 36%;
            }
            .manometr_btn {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 18;

                button {
                    padding: 30px 20px;
                    text-transform: uppercase;
                    font-weight: 800;
                    background: rgb(255, 0, 0);
                    color: #fff;
                    border-radius: 100%;
                    border: solid 2px $main_yellow;
                    cursor: pointer;
                    &:active {
                        background: #b30000;
                    }
                }
            }
        }
        position: relative;
        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 11;
            width: 100vh;
            .modal_inner {
                // border: 1px solid $main_yellow;
                margin: 0 auto;
                border-radius: 8px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 300px;
                // min-width: 400px;
                background-image: url(../img/background.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                z-index: 10;
                .modal_header {
                    color: $main_yellow;
                    text-align: center;
                    padding: 10px 0 20px 0;
                    text-shadow: 1.5px 1.5px 1px #000000;
                }
                .modal_text {
                    color: $main_yellow;
                    text-align: center;
                    padding: 10px 0 20px 0;
                    line-height: 18px;
                    text-shadow: 1.5px 1.5px 1px #000000;
                }
                .modal_btn {
                    margin: 0 auto;
                    padding: 10px 0;
                    a {
                        color: $main_black;
                        background: $main_yellow;
                        padding: 3px 40px;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
.after_none {
    &::after {
        content: "";
        background: black;
        opacity: 0;
        height: 0%;
        width: 0%;
        position: absolute;
        z-index: 0;
    }
}

.footer {
    .sub__footer {
        span {
            font-size: 14px;
        }
    }
}
