@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
body .services {
  background-image: none;
  flex-basis: 90%;
  display: flex;
}
body .services .W_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
body .services .W_container .manometr {
  margin-top: 30px;
  border-radius: 8px;
  border: solid 1px #6d6d6d;
  height: 500px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171717;
  background: linear-gradient(11deg, #171717 0%, #3e3e3e 60%, #5c696c 100%);
}
body .services .W_container .manometr .manometr_inner {
  background: url(../img/bg2.jpg);
  height: 98%;
  width: 95%;
  border-radius: 8px;
  border: solid 2px #3b3b3b;
}
body .services .W_container .manometr .manometr_inner .manometr_header {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  overflow: hidden;
  border-bottom: 1px solid #1d1d1d;
  border-radius: 25px;
}
body .services .W_container .manometr .manometr_inner .manometr_header .logo {
  transform: rotate(0deg);
}
body .services .W_container .manometr .manometr_inner .manometr_header .logo img {
  height: 50px;
}
body .services .W_container .manometr .manometr_inner .manometr_header .model {
  font-family: "Anton", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #1d1d1d;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor {
  margin: 5px;
  border-radius: 8px;
  border: 2px solid #524e4a;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor .monitor_darkMode {
  background: #222927 !important;
  background: linear-gradient(11deg, #222927 0%, #1f3834 60%, #0f5d6f 100%) !important;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor .monometr_monitor_inner {
  height: 99px;
  background: #7a988e;
  background: linear-gradient(11deg, #7a988e 0%, #87aea9 60%, #617478 100%);
  transition: 600ms ease all;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor .monometr_monitor_inner .headre__sup {
  display: flex;
  justify-content: space-between;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor .monometr_monitor_inner .headre__sup .battery {
  overflow: hidden;
  transition: 600ms ease all;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor .monometr_monitor_inner .headre__sup .battery .fa-battery-quarter {
  overflow: hidden;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor .monometr_monitor_inner .headre__sup .them {
  padding: 0 2px;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor .monometr_monitor_inner .headre__sup .them .fa-lightbulb {
  color: #1d1d1d;
  overflow: hidden;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor .monometr_monitor_inner .main_nums {
  overflow: hidden;
  font-family: Digital-7 Mono;
  font-size: 50px;
  color: #1d1d1d;
  margin: 0 auto;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor .monometr_monitor_inner .props {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor .monometr_monitor_inner .prop {
  overflow: hidden;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor__buttons .monometr_monitor_options {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 10px 0;
  padding: 5px 0;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor__buttons .monometr_monitor_options .btn {
  color: #dad8d8;
  background: url(../img/btn_back.jpg);
  height: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px -2px 1px #2b2b2b;
  border-top: solid 1px #1d1d1d;
  border-right: solid 1px #1d1d1d;
  cursor: pointer;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor__buttons .monometr_monitor_options .btn .fa-cogs,
body .services .W_container .manometr .manometr_inner .monometr_monitor__buttons .monometr_monitor_options .btn .fa-lightbulb,
body .services .W_container .manometr .manometr_inner .monometr_monitor__buttons .monometr_monitor_options .btn .fa-undo-alt {
  overflow: hidden;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor__buttons .monometr_monitor_options .btn:active {
  box-shadow: none;
  border: none;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor__buttons .start_btn {
  margin: 30px 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  font-size: 60px;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor__buttons .start_btn i {
  background: url(../img/btn_back.jpg);
  padding: 17px;
  color: #dad8d8;
  border-radius: 100%;
  box-shadow: 2px -2px 1px #2b2b2b;
  border-top: solid 1px #1d1d1d;
  border-right: solid 1px #1d1d1d;
  cursor: pointer;
}
body .services .W_container .manometr .manometr_inner .monometr_monitor__buttons .start_btn i:active {
  box-shadow: none;
  border: none;
}
body .light {
  color: #ffd101 !important;
}
body .opacity {
  opacity: 0;
}
body .d-none {
  opacity: 0;
}
body footer {
  flex-basis: 1;
}